PROJECT_NAME="NexusDeploy API"
VERSION="0.1.0"
API_V1_STR="/api/v1"
HOST="0.0.0.0"
PORT=5000
DEBUG=True

#POSTGRES
PG_DB_NAME="nexus_pg"
PG_DB_USER="shubham"
PG_DB_PASSWORD="your_db_pass"
PG_DB_PORT="5432"
PG_DB_HOST="localhost"

#PGADMIN
PGADMIN_EMAIL="sp710812gs@gmail.com"
PGADMIN_PASSWORD="your_pg_admin_pass"

#REDIS(General)
GEN_REDIS_HOST="localhost"
GEN_REDIS_PORT=6379
GEN_REDIS_LOGICAL_DB=1

# RATE LIMITING
GLOBAL_RATE_LIMIT_PER_MINUTE=100
AUTH_RATE_LIMIT_PER_MINUTE=5

# GOOGLE CLOUD SETUP OAUTH
GOOGLE_CLIENT_ID="Google_client_id"
GOOGLE_CLIENT_SECRET="google_client_secrete"
SECRET_KEY="secrete key"

GC_PROJECT_ID="p_id"
GC_AUTH_URI="https://accounts.google.com/o/oauth2/auth"
GC_TOKEN_URI="https://oauth2.googleapis.com/token"
GC_AUTH_PROVIDER="https://www.googleapis.com/oauth2/v3/certs"

#FRONTEND
REACT_APP_FRONTEND_HOST="localhost"
REACT_APP_FRONTEND_PORT=3000

#CRYPTOGRAPHICS
BACKEND_SECRETE_KEY="backend_serete"
HASHING_ALGO="HS256"
